<h1>Baby Book</h1>
<table border="0">
	<tr>
		<td>Name</td>
		<td>Years</td>
		<td>Birthday</td>
	</tr>
	<% @bpooks.each do |p| %>
	<tr>
		<td><%= p.name %></td>
		<td><%= p.years %></td>
		<td><%= p.birthday %></td>
	</tr>
	<%end%>
</table>
